<launch>
<arg name="uname" />
<arg name="session" />

<node pkg="fsc_py_planner" type="main.py" name="my_fsc_py_planner" args="$(arg session)" output="log"/>
<node pkg="visu_ros_msg" type="visualizer.py" name="my_visu_ros_msg" args="$(arg session)" output="log"/>
<node pkg="eval_feedback_CD" type="eval_feedback_CD.py" name="my_eval_feedback_CD" output="log"/>
<node pkg="rqt_ez_publisher" type="rqt_ez_publisher" name="my_rqt_ez_publisher" args="--slider-file /home/binnur/Documents/robotics/ros_ws_learner_robot/src/fsc_py_planner/rqt_gui_layout.yaml" launch-prefix="bash -c 'sleep 5; $0 $@' " output="log"/>
<node name="record" pkg="rosbag" type="record" args="-a -o /home/binnur/Documents/robotics/ros_ws_learner_robot/$(arg uname).bag"/>

</launch>
