<launch>
<arg name="uname" />
<arg name="session" />

<node pkg="visu_ros_msg" type="visualizer.py" name="my_visu_ros_msg" args="$(arg uname) $(arg session)" output="screen"/>
<node pkg="feedback_analyzer" type="feedback_analyzer.py" name="my_feedback_analyzer" args="$(arg uname) $(arg session)" output="screen"/>
<group if="$(eval session == 'robot')">
  <node pkg="obs_control" type="obs_control.py" name="my_obs_controller" args="$(arg uname) $(arg session)" output="screen"/>
  <node pkg="video_clip_time_listener" type="video_clip_time_listener.py" name="my_video_clip_time_listener" args="$(arg uname) $(arg session)" output="screen"/>

</group>

</launch>